<?xml version="1.0" encoding="UTF-8"?>

<!-- LAUNCH ALL OBJECTS (you need first to have running the map_with_car/map_with_car_REC) -->
<launch>
  <include file = "$(find drivex_main)/launch/sublaunchers/enter_highway_signs.launch"  />
  <include file = "$(find drivex_main)/launch/sublaunchers/leave_highway_signs.launch"  />
  <include file = "$(find drivex_main)/launch/sublaunchers/prohibited_signs.launch"     />
  <include file = "$(find drivex_main)/launch/sublaunchers/oneway_signs.launch"         />
  <include file = "$(find drivex_main)/launch/sublaunchers/parking_signs.launch"        />
  <include file = "$(find drivex_main)/launch/sublaunchers/crosswalk_signs.launch"      />
  <include file = "$(find drivex_main)/launch/sublaunchers/pedestrian_objects.launch"   />
  <include file = "$(find drivex_main)/launch/sublaunchers/priority_signs.launch"       />
  <include file = "$(find drivex_main)/launch/sublaunchers/roundabout_signs.launch"     />
  <include file = "$(find drivex_main)/launch/sublaunchers/stop_signs.launch"           />
  <include file = "$(find drivex_main)/launch/sublaunchers/obstacle_car.launch"         />
  <include file = "$(find drivex_main)/launch/sublaunchers/members.launch"              />
  <include file = "$(find drivex_main)/launch/sublaunchers/ramp.launch"                 />
  <include file = "$(find drivex_main)/launch/sublaunchers/roadblock.launch"            />
  <include file = "$(find drivex_main)/launch/sublaunchers/traffic_lights.launch"       />
</launch>
